
.text-gradient-primary {
    background: linear-gradient(90deg, #1E3A8A, #6D28D9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
.location {
    display: flex;
    align-items: center;
    color: white; /* Ensures the text is white */
    font-size: 16px; /* Adjust the font size if needed */
    margin-right: 20px; /* Adds some spacing from the right */
}

/* Ensures the color doesn't get overridden by Bootstrap classes */
#location {
    color: white !important;
}
.gradient-section {
background: linear-gradient(to bottom, #99b8ff,#ffffff ); /* Gradient from top to bottom */
height: 75vh; /* Full screen height */
display: flex; /* Use flexbox to center content */
justify-content: center; /* Horizontally center content */
align-items: center; /* Vertically center content */
color: rgb(0, 0, 0); /* Text color */
text-align: center; /* Center-align text */
}

